{% extends "personal/header.html" %}

{% block content %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
<p>Hi,Welcome to my website! I am python programmer!</p>	

{% include "personal/includes/htmlsnippet.html" %}
{% include "personal/includes/htmlsnippet.html" %}

{% endblock %}